/* CSS declarations go here */
body {
	padding-top: 60px;
}



.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 25px;
	background-color: black;
}

.login-button {
	padding-top: 13px;
	padding-right: 20px;
}

.submit-button{
	position: relative;
	top: 20px;
 	display: block;
 	clear: both;
}

.show-all{
	top: 20px;
}

.hidden {
    display: none;
}

#login-dropdown-list{
	position: fixed;
	top: 50px;
	right: 20px;
	left: auto;
}